<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="thirts">
	<!-- Main -->
<!-- 	<select id="slider" resultType="realfarm.spring.gallery.GalleryVo">
		SELECT url 
		FROM picture 
		ORDER BY pnum DESC 
		limit 6;
	</select> -->
	
	<insert id="saveAccount" parameterType="com.thirts.account.LoginVo" >
		INSERT INTO account(id, password, name, email, phone)
		VALUES (#{id}, #{password}, #{name}, #{email}, #{phone})
	</insert>
	
	<select id="searchAccount" parameterType="String" resultType="com.thirts.account.LoginVo">
		SELECT account.id , account.password, account.name , hwstore.macaddress
		FROM thirts.hwstore right JOIN thirts.account ON hwstore.id = account.id WHERE account.id=#{id}
	</select>

	<insert id="saveSpeed" parameterType="com.thirts.speed.SpeedVo" >
		INSERT INTO speed(mode, max_v, average_v, distance , time, score, count, falldown, speed, gyro, beacon, location, HW, date)
		VALUES (#{mode}, ${max_v}, ${average_v}, ${distance}, ${time}, #{score}, #{count}, #{falldown}, #{speed}, #{gyro}, #{beacon}, #{location}, #{macaddress}, #{date})
	</insert>

	<select id="searchSpeed_f" parameterType="int" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.mode, speed.num, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.falldown, speed.speed, speed.gyro, speed.beacon, speed.location, hwstore.id, speed.date
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress
		WHERE id=#{id} and mode="F"
		order by speed.num desc limit 1
	</select>
	
	<select id="searchSpeed_p" parameterType="int" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.mode, speed.num, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.falldown, speed.speed, speed.gyro, speed.beacon, speed.location, hwstore.id, speed.date
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress
		WHERE id=#{id} and mode="P"
		order by speed.num desc limit 1
	</select>
	
	<select id="searchSpeed_t" parameterType="int" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.mode, speed.num, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.falldown, speed.speed, speed.gyro, speed.beacon, speed.location, hwstore.id, speed.date
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress
		WHERE id=#{id} and mode="T"
		order by speed.num desc limit 1
	</select>
	
	<select id="searchSpeed_r" parameterType="int" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.mode, speed.num, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.falldown, speed.speed, speed.gyro, speed.beacon, speed.location, hwstore.id, speed.date
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress
		WHERE id=#{id} and mode="R"
		order by speed.num desc limit 1
	</select>
	
	<select id="selectAllList" resultType="com.thirts.main.MainVo">
		SELECT hwstore.id, speed.location
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress WHERE id=#{id}
	</select>
	
	<select id="SearchCount" parameterType="String" resultType="com.thirts.main.MainVo">
		SELECT count(*) as member
		FROM account
	</select>

	<select id="searchAllSpeed" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.num, speed.mode, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.count, speed.speed, speed.gyro, speed.beacon, speed.location, speed.date
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress 
		WHERE id=#{id}
		order by speed.date desc
	</select>
	
	<select id="selectOneAllSpeed" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.num, speed.mode, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.count, speed.falldown, speed.speed, speed.gyro, speed.beacon, speed.location, speed.HW as macaddress, speed.date
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress 
		WHERE num=#{num}
	</select>
	
	<select id="selectAllSpeed" resultType="com.thirts.speed.SpeedVo">
		SELECT speed.num, speed.mode, speed.max_v , speed.average_v , speed.distance , speed.time, speed.score, speed.count, speed.falldown, speed.speed, speed.gyro, speed.beacon, speed.location, speed.date, speed.HW
		FROM thirts.speed right JOIN thirts.hwstore ON speed.HW = hwstore.macaddress 
		WHERE speed.HW=#{macaddress}
		order by speed.date desc
	</select>
	
	<!-- 
	<delete id="deleteCalendar" parameterType="int">
		DELETE FROM calendar
		WHERE snum=#{num}
	</delete> -->
   
</mapper>